/backend/db/*.sqlite3
/backend/db/*.sqlite3-journal
/backend/log/*
!/backend/log/.keep
/backend/tmp
/backend/.env
/backend/db/schema.rb
/backend/*.byebug_history

/frontend/node_modules/*
/frontend/bower_components/*
