<ol class="breadcrumb">
  <li><%= link_to 'Play', play_index_path %></li>
  <li><%= link_to @level_pack.name, play_show_pack_path(pack: @level_pack.slug) %></li>
  <li class="active"><%= @level.name %></li>
</ol>

<div class="row">
  <div class="col-lg-12">
    <p class="pull-left">
      Steps: 0
    </p>
    <p class="pull-right">
      <button class="btn btn-primary" data-toggle="modal" data-target="#view_controls_modal">View Controls</button>
      <button class="btn btn-danger">Reset Puzzle</button>
    </p>
    <br/>
    <br/>
    <div id="sokoban-game-container"></div>
  </div>
</div>

<div id="view_controls_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Controls</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <p>
              <button class="btn btn-default btn-key"><i class="fa fa-arrow-up"></i></button> Move Up
            </p>
            <p>
              <button class="btn btn-default btn-key"><i class="fa fa-arrow-down"></i></button> Move Down
            </p>
            <p>
              <button class="btn btn-default btn-key"><i class="fa fa-arrow-left"></i></button> Move Left
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <button class="btn btn-default btn-key"><i class="fa fa-arrow-right"></i></button> Move Right
            </p>
            <p>
              <button class="btn btn-default btn-key">U</button> Undo Last Move
            </p>
            <p>
              <button class="btn btn-default btn-key">R</button> Reset Puzzle
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>