<div class="row">
  <div class="col-lg-12">
    <p class="pull-left">
      Steps: 0
    </p>
    <p class="pull-right">
      <button class="btn btn-primary">View Controls</button>
      <button class="btn btn-danger">Reset Puzzle</button>
    </p>
    <br/>
    <br/>
    <div id="sokoban-game-container"></div>
  </div>
</div>