body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

footer {
  margin-top: 30px;
}

#sokoban-game-container {margin-bottom: 30px; }
.sokoban-map {text-align:center;margin-top:20px;}
.sokoban-level {cursor: pointer;text-align: center;margin-bottom:20px;}
.sokoban-level img {margin-bottom:4px;}
.sokoban-solved {text-align: center;margin-top:20px;}
.btn-key {width:40px;margin-right:10px;}

.level-cell {
  margin-bottom:25px;
}
.level-image {
   border:1px solid #f5f5f5;
   padding:2px;
   text-align:center;
}
.hidden-image {
  position:absolute;
  left:-100px;
}

.level-pack-img {
  width:100px;
}
