<% if flash[:alert] || flash[:notice] || flash[:success]%>
  <div class="row">
    <div class="col-md-12">
      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-info"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:success] %>
        <div class="alert alert-info"><%= flash[:success] %></div>
      <% end %>
    </div>
  </div>
<% end %>